Repository Orange-OpenSource/ouds-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pylapp, @ludovic35, @Tayebsed93

.github/CODEOWNERS:

#
# Software Name: OUDS iOS
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license,
# the text of which is available at https://opensource.org/license/MIT/
# or see the "LICENSE" file for more details.
#
# Authors: See CONTRIBUTORS.txt
# Software description: A SwiftUI components library with code examples for Orange Unified Design System
#

# Utility files

AUTHORS.txt @pylapp
CONTRIBUTORS.txt @pylapp
LICENSE @pylapp

README.md @ludovic35 @pylapp @Tayebsed93
CHANGELOG.md @ludovic35 @pylapp @Tayebsed93
DEVELOP.md @ludovic35 @pylapp
CONTRIBUTING.md @ludovic35 @pylapp
THIRD-PARTY.md @pylapp
NOTICE.txt @pylapp

# Project

/.github/ @pylapp
/Showcase/ @pylapp @ludovic35 @Tayebsed93
/OUDS/ @pylapp @ludovic35 @Tayebsed93

test: update truth files
  Showcase/ShowcaseTests/__Snapshots__/OUDSFormsTextInputUITests/testOUDSFormsTextInput_InverseTheme-InverseTheme.1.png
  Showcase/ShowcaseTests/__Snapshots__/OUDSFormsTextInputUITests/testOUDSFormsTextInput_InverseTheme-InverseTheme.2.png
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor: update colors raw and semantic tokens (#124) (#153)
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfBorderSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfColorSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfDimensionSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfElevationSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfGridSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfOpacitySemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfSizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfSpacingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfThemeProperties.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfTypographySemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ColorSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Tests/TestInverseThemeColors.swift
  OUDS/Core/Themes/Orange/Sources/Values/OrangeBrandColorRawTokens+Values.swift
  OUDS/Core/Themes/Orange/Tests/OrangeBrandColorRawTokensTests.swift
  OUDS/Core/Themes/Sosh/Sources/Values/SoshBrandColorRawTokens+Values.swift
  OUDS/Core/Themes/Sosh/Tests/SoshBrandColorRawTokensTests.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/ColorRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Tests/ColorRawTokensTests.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ColorSemanticTokens.swift
  OUDS/Foundations/Sources/Extensions/Font+extensions.swift
  Showcase/Showcase/OrangeCustomTheme.swift
  Showcase/ShowcaseTests/__Snapshots__/OUDSFormsTextInputUITests/testOUDSFormsTextInput_InverseTheme-InverseTheme.1.png
  Showcase/ShowcaseTests/__Snapshots__/OUDSFormsTextInputUITests/testOUDSFormsTextInput_InverseTheme-InverseTheme.2.png
Owners: @ludovic35, @pylapp, @Tayebsed93

First version of token page with typography, elevation and border tokens
  NOTICE.txt
  OUDS/Core/Components/Sources/Extensions/View+Shadows.swift
  OUDS/Core/OUDS/Sources/AccessibleModifiers/AccessibleModifiers.swift
  OUDS/Core/OUDS/Sources/AccessibleModifiers/View+extensions.swift
  Showcase/Showcase.xcodeproj/project.pbxproj
  Showcase/Showcase/MainView.swift
  Showcase/Showcase/Pages/Components/ComponentsPage.swift
  Showcase/Showcase/Pages/Components/Elevations/ElevationsList.swift
  Showcase/Showcase/Pages/Tokens/Border/BorderTokenElement.swift
  Showcase/Showcase/Pages/Tokens/Border/BorderTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenElement.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Tokens/TokenElement.swift
  Showcase/Showcase/Pages/Tokens/TokensPage.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenElement.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
  Showcase/Showcase/Pages/Utils/Cards/Card.swift
  Showcase/Showcase/Pages/Utils/Cards/CardIllustration.swift
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElement.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_border.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_border.imageset/ic_border.svg
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_elevation.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_elevation.imageset/ic_elevation.svg
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_typography.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_typography.imageset/ic_typography.svg
  Showcase/Showcase/Resources/Assets.xcassets/ic_guideline_dna.imageset/ic_guideline_dna.svg
  Showcase/Showcase/Resources/Assets.xcassets/ic_token.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/ic_token.imageset/ic_token.svg
  Showcase/Showcase/Resources/Colors.xcassets/Contents.json
  Showcase/Showcase/Resources/Colors.xcassets/cardBackground.colorset/Contents.json
  Showcase/Showcase/Resources/en.lproj/Localizable.strings
  Showcase/ShowcaseTests/ElevationsEffectsUITests.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Update copyright header
  OUDS/Core/OUDS/Sources/AccessibleModifiers/View+extensions.swift
  Showcase/Showcase/Pages/Tokens/TokenElement.swift
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Update wording
  Showcase/Showcase/Resources/en.lproj/Localizable.strings
Owners: @pylapp, @ludovic35, @Tayebsed93

Refacto elevation
  Showcase/Showcase.xcodeproj/project.pbxproj
  Showcase/Showcase/Pages/Components/ComponentsPage.swift
  Showcase/Showcase/Pages/Tokens/Border/BorderTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
  Showcase/Showcase/Pages/Tokens/TokensPage.swift
  Showcase/Showcase/Pages/Utils/Cards/Card.swift
  Showcase/Showcase/Pages/Utils/Cards/CardIllustration.swift
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

$style: kids, don't take drugs
  OUDS/Core/Components/Sources/Extensions/View+Shadows.swift
  Showcase/Showcase/MainView.swift
  Showcase/Showcase/Pages/Tokens/Border/BorderTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
  Showcase/Showcase/Pages/Utils/Cards/Card.swift
  Showcase/Showcase/Pages/Utils/Cards/CardIllustration.swift
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Add opacity page
  NOTICE.txt
  Showcase/Showcase.xcodeproj/project.pbxproj
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenElement.swift
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_opacity.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_opacity.imageset/ic_opacity.svg
  Showcase/Showcase/Resources/en.lproj/Localizable.strings
Owners: @pylapp, @ludovic35, @Tayebsed93

Review opcity page to conform figma
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Add coherent padding in all pages
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Use space token
  OUDS/Core/Components/Sources/Extensions/View+Shadows.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Add theme selection in navigation bar
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleColorTokens.swift
  Showcase/Showcase.xcodeproj/project.pbxproj
  Showcase/Showcase/MainView.swift
  Showcase/Showcase/Pages/ThemeSelection/ThemeSelection.swift
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
  Showcase/Showcase/Showcase.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Update background color
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Add border screen
  OUDS/Core/Components/Sources/ViewModifiers/BorderStyleModifier.swift
  Showcase/Showcase/Pages/ThemeSelection/ThemeSelection.swift
  Showcase/Showcase/Pages/Tokens/Border/BorderTokenPage.swift
  Showcase/Showcase/Pages/Tokens/TokensPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

review: sort import, move border modifier to OUDS and add a border helper, add doc in code, cosmetics
  .swiftlint.yml
  OUDS/Core/Components/Sources/Buttons/OUDSButton.swift
  OUDS/Core/Components/Sources/Extensions/View+Font.swift
  OUDS/Core/Components/Sources/Extensions/View+Shadows.swift
  OUDS/Core/Components/Sources/Extensions/View+Typography.swift
  OUDS/Core/Components/Sources/ViewModifiers/CustomFontModifier.swift
  OUDS/Core/Components/Sources/ViewModifiers/FontModifier.swift
  OUDS/Core/Components/Sources/ViewModifiers/TypographyModifier.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+ComponentTokens/OUDSTheme+FormsTextInputComponentToken.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Sources/ViewModifiers/AccessibleModifiers/AccessibleModifiers.swift
  OUDS/Core/OUDS/Sources/ViewModifiers/AccessibleModifiers/View+extensions.swift
  OUDS/Core/OUDS/Sources/ViewModifiers/BorderModifiers/BorderModifier.swift
  OUDS/Core/OUDS/Sources/ViewModifiers/BorderModifiers/View+Border.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+BorderSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+DimensionSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+SpacingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+TypographySemanticTokens.swift
  OUDS/Core/Themes/Orange/Sources/Declarations/OrangeBrandColorRawTokens.swift
  OUDS/Core/Themes/Orange/Sources/OrangeTheme+SemanticColorTokens.swift
  OUDS/Core/Themes/Orange/Sources/OrangeTheme.swift
  OUDS/Core/Themes/Orange/Sources/Values/OrangeBrandColorRawTokens+Values.swift
  OUDS/Core/Themes/Sosh/Sources/SoshTheme.swift
  OUDS/Core/Tokens/ComponentTokens/Sources/Values/ButtonsComponentTokens.swift
  OUDS/Core/Tokens/ComponentTokens/Sources/Values/FormsTextInputComponentTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleColorTokens.swift
  OUDS/Foundations/Sources/Extensions/Color+extensions.swift
  Showcase/Showcase.xcodeproj/project.pbxproj
  Showcase/Showcase/MainView.swift
  Showcase/Showcase/OrangeCustomTheme.swift
  Showcase/Showcase/Pages/ThemeSelection/ThemeSelection.swift
  Showcase/Showcase/Pages/Tokens/Border/BorderTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
  Showcase/Showcase/Pages/Utils/Cards/CardIllustration.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
  Showcase/Showcase/Showcase.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Update changelog
  CHANGELOG.md
Owners: @ludovic35, @pylapp, @Tayebsed93

review: refactor opacity screen
  NOTICE.txt
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_union.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_union.imageset/ic_union.svg
Owners: @pylapp, @ludovic35, @Tayebsed93

review update typography screen
  OUDS/Core/Components/Sources/Extensions/View+Typography.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Rename icons and update elevation screen
  NOTICE.txt
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenElement.swift
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenElement.swift
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_border.imageset/ic_border.svg
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_elevation.imageset/ic_elevation.svg
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_filter_effects.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_filter_effects.imageset/ic_filter_effects.svg
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_layers.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_layers.imageset/ic_layers.svg
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_opacity.imageset/ic_opacity.svg
  Showcase/Showcase/Resources/Assets.xcassets/Tokens/ic_typography.imageset/ic_typography.svg
Owners: @pylapp, @ludovic35, @Tayebsed93

review: Update background for border screen
  Showcase/Showcase/Pages/Tokens/Border/BorderTokenPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

review: update elevation
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleElevationTokens.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor(review): doc, warnings, typo (#120)
  OUDS/Core/OUDS/Sources/ViewModifiers/AccessibleModifiers/AccessibleModifiers.swift
  OUDS/Core/OUDS/Sources/ViewModifiers/AccessibleModifiers/View+extensions.swift
  OUDS/Core/OUDS/Sources/ViewModifiers/BorderModifiers/BorderModifier.swift
  OUDS/Core/OUDS/Sources/ViewModifiers/BorderModifiers/View+Border.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Add empty state on component page
  Showcase/Showcase.xcodeproj/project.pbxproj
  Showcase/Showcase/Pages/Components/ComponentsPage.swift
  Showcase/Showcase/Pages/Components/EmptyState.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
  Showcase/Showcase/Resources/Assets.xcassets/Illustrations/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Illustrations/il_empty_screen.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/Illustrations/il_empty_screen.imageset/il_empty_screen.svg
  Showcase/Showcase/Resources/Assets.xcassets/il_empty_screen.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/il_empty_screen.imageset/il_empty_screen.svg
Owners: @pylapp, @ludovic35, @Tayebsed93

style(review): minimap MARKS, typos
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleColorTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleElevationTokens.swift
  Showcase/Showcase/Pages/ThemeSelection/ThemeSelection.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Opacity/OpacityTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

Update text with localizable key
  NOTICE.txt
  Showcase/Showcase/Pages/Components/EmptyState.swift
  Showcase/Showcase/Pages/Utils/Cards/Card.swift
  Showcase/Showcase/Pages/Utils/ShacaseElementPage.swift
  Showcase/Showcase/Resources/en.lproj/Localizable.strings
Owners: @pylapp, @ludovic35, @Tayebsed93

feat: add `InverseTheme` in theme picker of demo app
  OUDS/Core/Themes/Inverse/Sources/InverseTheme.swift
  Showcase/Showcase/Pages/ThemeSelection/ThemeSelection.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

chore(review): remove fake `OUDSFormsTextInput` component
  OUDS/Core/Components/Sources/Forms/TextInput/OUDSFormsTextInput.swift
  OUDS/Core/Components/Sources/_OUDSComponents.docc/_OUDSComponents.md
  OUDS/Core/OUDS/Sources/_OUDS.docc/Components.md
  Showcase/Showcase.xcodeproj/project.pbxproj
  Showcase/ShowcaseTests/OUDSFormsTextInputUITests.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

chore(review-: various cleanings
  NOTICE.txt
  OUDS/Core/OUDS/Sources/ViewModifiers/AccessibleModifiers/AccessibleModifiers.swift
  Showcase/Showcase.xcodeproj/project.pbxproj
  Showcase/Showcase/Pages/ThemeSelection/ThemeSelection.swift
  Showcase/Showcase/Pages/Tokens/Elevation/ElevationTokenPage.swift
  Showcase/Showcase/Pages/Tokens/Typography/TypographyTokenPage.swift
  Showcase/Showcase/Pages/Utils/Cards/Card.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementPage.swift
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
  Showcase/Showcase/Resources/en.lproj/Localizable.strings
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor(review): move view modifiers
  OUDS/Core/Components/Sources/ViewModifiers/AccessibleModifiers/AccessibleModifiers.swift
  OUDS/Core/Components/Sources/ViewModifiers/AccessibleModifiers/View+extensions.swift
  OUDS/Core/Components/Sources/ViewModifiers/BorderModifiers/BorderModifier.swift
  OUDS/Core/Components/Sources/ViewModifiers/BorderModifiers/View+Border.swift
  OUDS/Core/Components/Sources/ViewModifiers/TypographyModifiers/CustomFontModifier.swift
  OUDS/Core/Components/Sources/ViewModifiers/TypographyModifiers/FontModifier.swift
  OUDS/Core/Components/Sources/ViewModifiers/TypographyModifiers/TypographyModifier.swift
  OUDS/Core/Components/Sources/_OUDSComponents.docc/_OUDSComponents.md
  Showcase/Showcase/Pages/Utils/ShowcaseElementsPage.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

fix(review): do not apply letterspacing and line height because of bad raw values
  OUDS/Core/Components/Sources/ViewModifiers/TypographyModifiers/TypographyModifier.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Values.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

chore(review): remove duplicate illustration
  Showcase/Showcase/Resources/Assets.xcassets/il_empty_screen.imageset/Contents.json
  Showcase/Showcase/Resources/Assets.xcassets/il_empty_screen.imageset/il_empty_screen.svg
Owners: @pylapp, @ludovic35, @Tayebsed93

ci: update Fastlane
  Gemfile
  Gemfile.lock
Owners: none

ci: improve GitHub notification from Fastlane commands
  Showcase/fastlane/Fastfile
Owners: @pylapp, @ludovic35, @Tayebsed93

docs: add details about Ruby and `rbenv` uses
  .github/DEVELOP.md
Owners: @pylapp

ci: improve GitHub notification from Fastlane commands
  Showcase/fastlane/Fastfile
Owners: @pylapp, @ludovic35, @Tayebsed93

Prepare version 0.3.0
  CHANGELOG.md
Owners: @ludovic35, @pylapp, @Tayebsed93

Prepare release 0.3.0 (#163)
  CHANGELOG.md
Owners: @ludovic35, @pylapp, @Tayebsed93
