Repository Orange-OpenSource/ouds-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pylapp, @ludovic35, @Tayebsed93

.github/CODEOWNERS:

#
# Software Name: OUDS iOS
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license,
# the text of which is available at https://opensource.org/license/MIT/
# or see the "LICENSE" file for more details.
#
# Authors: See CONTRIBUTORS.txt
# Software description: A SwiftUI components library with code examples for Orange Unified Design System
#

# Utility files

AUTHORS.txt @pylapp
CONTRIBUTORS.txt @pylapp
LICENSE @pylapp

README.md @ludovic35 @pylapp @Tayebsed93
CHANGELOG.md @ludovic35 @pylapp @Tayebsed93
DEVELOP.md @ludovic35 @pylapp
CONTRIBUTING.md @ludovic35 @pylapp
THIRD-PARTY.md @pylapp
NOTICE.txt @pylapp

# Project

/.github/ @pylapp
/Showcase/ @pylapp @ludovic35 @Tayebsed93
/OUDS/ @pylapp @ludovic35 @Tayebsed93

ci: remove useless options in doc generation script
  generateDoc.sh
Owners: none

docs: improve documentation for raw tokens definition
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/_OUDS.docc/Tokens.md
  OUDS/Core/Tokens/RawTokens/Sources/_OUDSTokensRaw.docc/OUDSTokensRaw.md
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
Owners: @ludovic35, @pylapp, @Tayebsed93

docs: improve documentation for semantic tokens definition
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
Owners: @pylapp, @ludovic35, @Tayebsed93

docs: fix typo, add more details
  OUDS/Core/OUDS/Sources/_OUDS.docc/Tokens.md
  OUDS/Core/Tokens/RawTokens/Sources/_OUDSTokensRaw.docc/OUDSTokensRaw.md
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
Owners: @pylapp, @ludovic35, @Tayebsed93

docs: add details about semantic tokens management
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
Owners: @pylapp, @ludovic35, @Tayebsed93

chore: update CHANGELOG
  CHANGELOG.md
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor(review): remove useless line in CHANGELOG
  CHANGELOG.md
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor(review): remove typo
  OUDS/Core/OUDS/Sources/_OUDS.docc/Tokens.md
  OUDS/Core/Tokens/RawTokens/Sources/_OUDSTokensRaw.docc/OUDSTokensRaw.md
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
  OUDS/README.md
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor: rename dimension semantic tokens
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+DimensionSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+DimensionSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfDimensionSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfSpacingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/DimensionSemanticTokens.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

style: code clean up
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+BorderSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+DimensionSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+GridSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+OpacitySemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SpacingSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+TypographySemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ColorSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ElevationSemanticTokens.swift
  OUDS/Core/Themes/Orange/Sources/Declarations/OrangeBrandColorRawTokens.swift
  OUDS/Core/Themes/Orange/Sources/OrangeTheme+SemanticColorTokens.swift
  OUDS/Core/Themes/Orange/Sources/TypeAliases/OrangeBrandColorTokens+Aliases.swift
  OUDS/Core/Themes/Orange/Sources/Values/OrangeBrandColorRawTokens+Values.swift
  OUDS/Core/Themes/Sosh/Sources/Declarations/SoshBrandColorRawTokens.swift
  OUDS/Core/Themes/Sosh/Sources/TypeAliases/SoshBrandColorTokens+Aliases.swift
  OUDS/Core/Themes/Sosh/Sources/Values/SoshBrandColorRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Declarations/BorderRawTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/Declarations/ColorRawTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/Declarations/ElevationRawTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/Declarations/GridRawTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/Declarations/OpacityRawTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/Declarations/TypographyRawTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/BorderRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/ColorRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/DimensionRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/ElevationRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/GridRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/OpacityRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Values.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/BorderSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ColorSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/DimensionSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ElevationSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/GridSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/OpacitySemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/SizingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/SpacingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/TypographySemanticTokens.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

docs: add details about raw and semantic tokens definitions (#127) (#128)
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/_OUDS.docc/Tokens.md
  OUDS/Core/Tokens/RawTokens/Sources/_OUDSTokensRaw.docc/OUDSTokensRaw.md
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
  OUDS/README.md
Owners: @ludovic35, @pylapp, @Tayebsed93

docs: improve documentation for raw tokens definition
  CHANGELOG.md
Owners: @ludovic35, @pylapp, @Tayebsed93

docs: improve documentation for semantic tokens definition
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
Owners: @pylapp, @ludovic35, @Tayebsed93

docs: add details about semantic tokens management
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
Owners: @pylapp, @ludovic35, @Tayebsed93

chore: update CHANGELOG
  CHANGELOG.md
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: split raw composite tokens from their enums
  CHANGELOG.md
  OUDS/Core/Tokens/RawTokens/Sources/Composites/ElevationCompositeRawToken.swift
  OUDS/Core/Tokens/RawTokens/Sources/Composites/TypographyCompositeRawToken.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/ElevationRawTokens+Composites.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/ElevationRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Composites.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/_OUDSTokensRaw.docc/OUDSTokensRaw.md
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: use of composite colors for elevations
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+ComponentTokens/OUDSTheme+FormsTextInputComponentToken.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfElevationSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ColorSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ElevationSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Tests/TestInverseThemeElevation.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Composites/ColorSemanticTokens+Multiples.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Composites/SizingSemanticTokens+Multiples.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ColorSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ElevationSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ColorSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ElevationSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/SizingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/ColorCompositeSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleColorSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleSizingSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/SpacingCompositeSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/TypographyCompositeSemanticTokenTests.swift
  Showcase/Showcase/OrangeCustomTheme.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: multiple tokens for elevations
  CHANGELOG.md
  OUDS/Core/Components/Sources/Extensions/View+Shadows.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+ComponentTokens/OUDSTheme+FormsTextInputComponentToken.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfElevationSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ColorSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ElevationSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Tests/TestInverseThemeElevation.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/ElevationRawTokens+Composites.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleColorRawToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleElevationCompositeRawToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleSizingSemanticToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/SpacingSemanticTokens+Composites.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/TypographySemanticTokens+Composites.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ColorSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ElevationSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ColorSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ElevationSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleColorSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleSizingSemanticTokenTests.swift
  Showcase/Showcase/OrangeCustomTheme.swift
  Showcase/Showcase/Pages/Components/Elevations/ElevationsList.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

chore: update tests
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfElevationSemanticTokens.swift
  Showcase/Showcase.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor: renaming
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+ComponentTokens/OUDSTheme+FormsTextInputComponentToken.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+SizingSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ColorSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ElevationSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleColorTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleElevationTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleSizingTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/SpacingCompositeSemanticToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ColorSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ElevationSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ColorSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/SizingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleColorSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleSizingSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/SpacingCompositeSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/TypographyCompositeSemanticTokenTests.swift
  Showcase/Showcase.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Showcase/Showcase/OrangeCustomTheme.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: renaming
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SpacingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+SpacingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleSpacingTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/SpacingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/SpacingCompositeSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/TypographyCompositeSemanticTokenTests.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: renaming
  CHANGELOG.md
  OUDS/Core/Components/Sources/Extensions/View+Font.swift
  OUDS/Core/Components/Sources/ViewModifiers/CustomFontModifier.swift
  OUDS/Core/Components/Sources/ViewModifiers/FontModifier.swift
  OUDS/Core/Components/Sources/ViewModifiers/TypographyModifier.swift
  OUDS/Core/Components/Sources/_OUDSComponents.docc/_OUDSComponents.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+ComponentTokens/OUDSTheme+ButtonsComponentTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SpacingSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+TypographySemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+TypographySemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfTypographySemanticTokens.swift
  OUDS/Core/Tokens/ComponentTokens/Sources/Values/ButtonsComponentTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleTypographyTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/TypographySemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleSpacingTokensTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleTypographyTokensTests.swift
  Showcase/Showcase/OrangeCustomTheme.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

docs: more details about Multiple objects
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleColorTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleElevationTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleSizingTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleSpacingTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleTypographyTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
Owners: @pylapp, @ludovic35, @Tayebsed93

test: more tests
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleColorSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleElevationTokensTests.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

chore: clean up
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SpacingSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+TypographySemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ElevationSemanticTokens.swift
  OUDS/Core/Themes/Orange/Sources/Declarations/OrangeBrandColorRawTokens.swift
  OUDS/Core/Themes/Sosh/Sources/Declarations/SoshBrandColorRawTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/ElevationRawTokens+Composites.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/ElevationRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Composites.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Values.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor: use of composite colors for elevations
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+ComponentTokens/OUDSTheme+FormsTextInputComponentToken.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+SizingSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ColorSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ElevationSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Tests/TestInverseThemeElevation.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Composites/ColorSemanticTokens+Multiples.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Composites/SizingSemanticTokens+Multiples.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ColorSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ElevationSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ColorSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/SizingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleColorSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleSizingSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/SpacingCompositeSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/TypographyCompositeSemanticTokenTests.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: multiple tokens for elevations
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+ComponentTokens/OUDSTheme+FormsTextInputComponentToken.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ColorSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+ElevationSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+SizingSemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfElevationSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ColorSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Sources/InverseTheme+ElevationSemanticTokens.swift
  OUDS/Core/Themes/Inverse/Tests/TestInverseThemeElevation.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleColorRawToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleElevationCompositeRawToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleSizingSemanticToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/SpacingSemanticTokens+Composites.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/TypographySemanticTokens+Composites.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ColorSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/ElevationSemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/ColorSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/SizingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleColorSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/MultipleSizingSemanticTokenTests.swift
  Showcase/Showcase/OrangeCustomTheme.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

chore: update tests
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfElevationSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
  Showcase/Showcase.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Showcase/Showcase/OrangeCustomTheme.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor: renaming
  CHANGELOG.md
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+SizingSemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleColorRawToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleElevationCompositeRawToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/MultipleSizingSemanticToken.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/SpacingCompositeSemanticToken.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/SpacingCompositeSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/TypographyCompositeSemanticTokenTests.swift
  Showcase/Showcase.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: renaming
  CHANGELOG.md
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/SpacingCompositeSemanticToken.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/SpacingCompositeSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/TypographyCompositeSemanticTokenTests.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: renaming
  OUDS/Core/Tokens/SemanticTokens/Sources/Multiples/TypographySemanticTokens+Composites.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/SpacingCompositeSemanticTokenTests.swift
  OUDS/Core/Tokens/SemanticTokens/Tests/Composites/TypographyCompositeSemanticTokenTests.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

docs: more details about Multiple objects
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor: add factor base in raw tokens definitions (#132)
  CHANGELOG.md
  OUDS/Core/Tokens/RawTokens/Sources/Values/BorderRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/DimensionRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/GridRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Tests/BorderRawTokensTests.swift
  OUDS/Core/Tokens/RawTokens/Tests/DimensionRawTokensTests.swift
  OUDS/Core/Tokens/RawTokens/Tests/GridRawTokensTests.swift
  OUDS/Foundations/TestsUtils/XCTestCase+extensions.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

chore: clean up after massive rebase
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfElevationSemanticTokens.swift
  Showcase/Showcase/Pages/About/AboutPage.swift
  Showcase/Showcase/Resources/en.lproj/Localizable.strings
  Showcase/Showcase/Utils/Bundle+extension.swift
  Showcase/Showcase/Utils/WebView.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

refactor: add factor base in raw tokens, code cleanup (#132) (#133)
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+ComponentTokens/OUDSTheme+FormsTextInputComponentToken.swift
  OUDS/Core/Themes/Inverse/Tests/TestInverseThemeElevation.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/BorderRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/DimensionRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/GridRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Tests/BorderRawTokensTests.swift
  OUDS/Core/Tokens/RawTokens/Tests/DimensionRawTokensTests.swift
  OUDS/Core/Tokens/RawTokens/Tests/GridRawTokensTests.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/_OUDSTokensSemantic.docc/OUDSTokensSemantic.md
  OUDS/Foundations/TestsUtils/XCTestCase+extensions.swift
  Showcase/Showcase/Pages/About/AboutPage.swift
  Showcase/Showcase/Resources/en.lproj/Localizable.strings
  Showcase/Showcase/Utils/Bundle+extension.swift
  Showcase/Showcase/Utils/WebView.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

chore: update CHANGELOG (#85,#140,#141)
  CHANGELOG.md
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: renaming of typography font weight raw tokens
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+TypographySemanticTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/TypeAliases/TypographyRawTokens+Aliases.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Composites.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Values.swift
  OUDS/Core/Tokens/RawTokens/Tests/TypographyRawTokensTests.swift
  OUDS/Foundations/Sources/Extensions/Int+SwiftUI.swift
  OUDS/Foundations/Sources/Extensions/String+SwiftUI.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

feat: add typography letter spacing semantic tokens and update unit tests
  CHANGELOG.md
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+TypographySemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+TypographySemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfTypographySemanticTokens.swift
  OUDS/Core/Tokens/RawTokens/Sources/Values/TypographyRawTokens+Composites.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/TypeAliases/TypographySemanticTokens+Aliases.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/TypographySemanticTokens.swift
Owners: @ludovic35, @pylapp, @Tayebsed93

refactor: font weight names and conversions
  OUDS/Core/Components/Sources/ViewModifiers/CustomFontModifier.swift
  OUDS/Core/Components/Sources/ViewModifiers/TypographyModifier.swift
  OUDS/Foundations/Sources/Extensions/Font+extensions.swift
  OUDS/Foundations/Sources/Extensions/String+SwiftUI.swift
  OUDS/Foundations/Tests/Extensions/TestFont+extensions.swift
  OUDS/Foundations/Tests/Extensions/TestInt+SwiftUI.swift
  OUDS/Foundations/Tests/Extensions/TestString+SwiftUI.swift
Owners: @pylapp, @ludovic35, @Tayebsed93

style: fix swiftlin warnings
  OUDS/Core/OUDS/Sources/OUDSTheme/OUDSTheme+SemanticTokens/OUDSTheme+TypographySemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/MockTheme/MockTheme+TypographySemanticTokens.swift
  OUDS/Core/OUDS/Tests/OUDSTheme/TestThemeOverrideOfTypographySemanticTokens.swift
  OUDS/Core/Tokens/SemanticTokens/Sources/Values/TypographySemanticTokens.swift
  OUDS/Foundations/Sources/Extensions/Int+SwiftUI.swift
  OUDS/Foundations/Sources/Extensions/String+SwiftUI.swift
  OUDS/Foundations/Tests/Extensions/TestFont+extensions.swift
  OUDS/Foundations/Tests/Extensions/TestInt+SwiftUI.swift
  OUDS/Foundations/Tests/Extensions/TestString+SwiftUI.swift
Owners: @pylapp, @ludovic35, @Tayebsed93
